<div>
    <h3 style="text-align: center"> Tournament </h3>
    <table class="table">
        <thead>
            <tr>
                <th>Round</th>
                <th>Draw</th>
                <th>player 1 score</th>
                <th>player 2 score</th>
                <th>Winner</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="game in games">
                <td>{{game.round }}</td>
                <td>{{game.p0 + ' vs ' + game.p1 }} </td>
                <td>{{game.s0}}</td>
                <td>{{game.s1}}</td>
                <td ng-if='game.state == true'>{{game.winner}}</td>
                <td ng-if='game.state == false'> Still running </td>
            </tr>
        </tbody>
    </table>
</div>
